<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta charset="utf-8">

    <title>{{ title | safe }}</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" rel="stylesheet">
    <link href="{{ url_for('static', filename='toolkit-inverse.css') }}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <script type='text/javascript' src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script type='text/javascript' src="{{ url_for('static', filename='jquery.cookie.min.js') }}"></script>
    <script type='text/javascript' src="{{ url_for('static', filename='jquery.dataTables.min.js') }}"></script>
  </head>
  <body>
    {% block main %}{% endblock %}
    <!-- my javascript -->
    <script src="{{ url_for('static', filename='toolkit.js') }}"></script>
    <script type='text/javascript' src="{{ url_for('static', filename='utilities.js') }}"></script>
  </body>
</html>



