<div class='row nav'>
    <ul class='nav nav-pills'>
        <li id='home_page' class='nav-item'><a class='nav-link' title='Home'
            href="/"><span class='icon icon-home'</span></a></li>
        <li id='stellar_params_page' class='nav-item'><a class='nav-link' title='Stellar Parameters'
            href="stellar_parameters"><span class='icon icon-line-graph'></span></a></li>
        <li class='nav-item pull-right'><a class='nav-link' title='Toggle Theme'
            href="#" onclick=toggleTheme()><span class='icon icon-adjust'></span></a></li>
    </ul>
</div>
